<div
  class="absolute z-20 bg-white w-screen h-[33.188rem] shadow-[0_-16px_40px_rgba(0,0,0,0.2)] rounded-t-3xl top-{17.438rem}"
>
  <div class="flex justify-between">
    <div
      class="flex p-1.5 items-center font-normal text-sm text-center text-[#999999]"
    >
      {{ "" + datenow(date) }}
    </div>
    <div
      class="cursor-pointer bg-[#0D9FEA]/10 rounded-tr-3xl rounded-bl-3xl sm:w-[20rem] w-[13rem] h-[3rem] font-medium text-center text-base text-[#0da0ea] border-none"
      (click)="opensearchbar()"
    >
      <div
        class="ml-[0.375rem] mt-[0.938rem] mb-[0.875rem] flex flex-row justify-center"
      >
        <div>
          {{
            data.name == "Nižné Nemecké"
              ? "Koromľa, Slovakia"
              : data.name + ", Slovakia"
          }}
        </div>

        <div class="flex items-center ml-1.5">
          <svg
            class="place"
            wclassth="10"
            height="12"
            viewBox="0 0 10 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.93806 2.98668C8.89534 2.82659 8.8086 2.65601 8.74443 2.50667C7.97658 0.661332 6.29884 0 4.94415 0C3.13065 0 1.13329 1.21603 0.866623 3.72256V4.23465C0.866623 4.25603 0.873988 4.448 0.884451 4.54403C1.03394 5.73858 1.97652 7.00812 2.68049 8.20267C3.43785 9.48251 4.22372 10.7415 5.00232 12C5.48241 11.1787 5.96078 10.3467 6.42994 9.54668C6.5578 9.3119 6.70623 9.07727 6.83423 8.85318C6.91955 8.70397 7.08254 8.55476 7.157 8.41594C7.91434 7.02936 9.13335 5.63206 9.13335 4.256V3.6907C9.13338 3.54152 8.94846 3.01885 8.93806 2.98668ZM4.97735 5.5574C4.44427 5.5574 3.86078 5.29085 3.57277 4.55472C3.52986 4.43754 3.53332 4.20271 3.53332 4.1812V3.85053C3.53332 2.9121 4.33013 2.48535 5.02333 2.48535C5.87672 2.48535 6.53674 3.16811 6.53674 4.0215C6.53674 4.87487 5.83074 5.5574 4.97735 5.5574Z"
              fill="#0D9FEA"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="flex content-center flex-col flex-wrap">
    <div class="row1 w-[96%] flex flex-row justify-evenly">
      <div
        class="box w-[5.938rem] h-[6.313rem] flex flex-col items-center justify-center"
      >
        <img
          class="w-[2.5rem] h-[2.5rem]"
          src="http://openweathermap.org/img/wn/10d@2x.png"
        />

        <div class="text-black font-medium text-lg text-center">
          {{ "" + data.weather[0].main }}
        </div>
      </div>

      <div class="flex items-center">
        <div
          class="font-light tracking-tighter text-[3.875rem] leading-[4.813rem]"
        >
          {{ "" + data.main.temp.toFixed(0) }}
        </div>
        <div
          class="leading-3 text-[#666666] text-[1.5rem] font-medium w-[1.5rem] h-[1.813rem]"
        >
          °C
        </div>
      </div>

      <div
        class="box w-[5.938rem] h-[6.313rem] flex flex-col items-center justify-center"
      >
        <div class="flex mt-[0.625rem]">
          <div
            class="max_temp mt-[0.625] text-[1rem] leading-[1.188rem] font-light"
          >
            {{ "" + data.main.temp_max.toFixed(0) + "°C" }}
          </div>
          <img class="arrow_up" src="/assets/img/vector.svg" />
        </div>

        <div class="flex mt-[0.625rem]">
          <div class="min_temp text-[1rem] leading-[1.188rem] font-light">
            {{ "" + data.main.temp_min.toFixed(0) + "°C" }}
          </div>
          <img class="arrow_down" src="/assets/img/vector.svg" />
        </div>
      </div>
    </div>

    <div class="row2 w-[96%] flex justify-evenly flex-row">
      <div
        class="box w-[5.938rem] h-[6.313rem] flex flex-col items-center justify-center"
      >
        <img class="hum_icon" src="/assets/img/027-humidity.svg" />
        <div class="font-medium py-[0.313rem] text-base text-[#444444]">
          {{ "" + data.main.humidity + "%" }}
        </div>
        <div class="text-[0.5rem] text-[#999999]">Humidity</div>
      </div>
      <div
        class="box w-[5.938rem] h-[6.313rem] flex flex-col items-center justify-center"
      >
        <img class="bar_icon" src="/assets/img/050-barometer.svg" />
        <div class="font-medium py-[0.313rem] text-base text-[#444444]">
          {{ "" + data.main.pressure + "  mBar" }}
        </div>
        <div class="text-[0.5rem] text-[#999999]">Pressure</div>
      </div>

      <div
        class="box w-[5.938rem] h-[6.313rem] flex flex-col items-center justify-center"
      >
        <img class="wind_icon" src="/assets/img/001-wind-1.svg" />
        <div class="font-medium py-[0.313rem] text-base text-[#444444]">
          {{ "" + data.wind.speed.toFixed(0) + " " + "km/h" }}
        </div>

        <div class="text-[0.5rem] text-[#999999]">Wind</div>
      </div>
    </div>

    <div class="row3 w-[96%] flex justify-evenly flex-row">
      <div
        class="box w-[5.938rem] h-[6.313rem] flex flex-col items-center justify-center"
      >
        <img class="sunrise_icon" src="/assets/img/008-sunrise.svg" />
        <div class="font-medium py-[0.313rem] text-base text-[#444444]">
          {{ "" + time_format(data.sys.sunrise) }}
        </div>
        <div class="text-[0.5rem] text-[#999999]">Sunrise</div>
      </div>
      <div
        class="box w-[5.938rem] h-[6.313rem] flex flex-col items-center justify-center"
      >
        <img class="sunset_icon" src="/assets/img/007-sunset.svg" />
        <div class="font-medium py-[0.313rem] text-base text-[#444444]">
          {{ "" + time_format(data.sys.sunset) }}
        </div>
        <div class="text-[0.5rem] text-[#999999]">Sunset</div>
      </div>
      <div
        class="box w-[5.938rem] h-[6.313rem] flex flex-col items-center justify-center"
      >
        <img class="clock_icon" src="/assets/img/sand-clock.svg" />
        <div class="font-medium py-[0.313rem] text-base text-[#444444]">
          {{ daytime(data.sys.sunset, data.sys.sunrise) }}
        </div>
        <div class="text-[0.5rem] text-[#999999]">Daytime</div>
      </div>
    </div>

    <div class="row4 w-[96%] flex justify-evenly flex-row">
      <div
        class="box2 flex flex-col bg-white shadow-[0_8px_24px_rgba(0,0,0,0.3)] rounded-[1rem] items-center justify-center w-[5.938rem] h-[6.313rem]"
      >
        <div class="w-[1.5rem] h-[1.5rem]">
          <img src="http://openweathermap.org/img/wn/10d@2x.png" />
        </div>

        <div class="font-medium text-base text-[#444444] tracking-tighter">
          {{ days_forecast[0] }}
        </div>

        <div class="flex text-[#999999] justify-between text-[0.5rem]">
          <div class="flex">
            <div class="first_daymax">
              {{ newlistForecast[0]?.main?.temp_max?.toFixed(0) + "°C" }}
            </div>

            <div class="mt-1 w-[0.313rem] h-[0.438rem] pl-[0.125rem]">
              <img src="/assets/img/vector.svg" />
            </div>
          </div>

          <div class="flex pl-1">
            <div class="first_daymin">
              {{ newlistForecast[0]?.main?.temp_min?.toFixed(0) + "°C" }}
            </div>

            <div class="mt-1 w-[0.313rem] h-[0.438rem] pl-[0.125rem]">
              <img class="arrow_down" src="/assets/img/vector.svg" />
            </div>
          </div>
        </div>
      </div>

      <div
        class="box2 flex flex-col bg-white shadow-[0_8px_24px_rgba(0,0,0,0.3)] rounded-[1rem] items-center justify-center w-[5.938rem] h-[6.313rem]"
      >
        <div class="w-[1.5rem] h-[1.5rem]">
          <img src="http://openweathermap.org/img/wn/10d@2x.png" />
        </div>

        <div class="font-medium text-base text-[#444444] tracking-tighter">
          {{ days_forecast[1] }}
        </div>

        <div class="flex text-[#999999] justify-between text-[0.5rem]">
          <div class="flex">
            <div class="first_daymax">
              {{ newlistForecast[1]?.main?.temp_max?.toFixed(0) + "°C" }}
            </div>

            <div class="mt-1 w-[0.313rem] h-[0.438rem] pl-[0.125rem]">
              <img src="/assets/img/vector.svg" />
            </div>
          </div>

          <div class="flex pl-1">
            <div class="first_daymin">
              {{ newlistForecast[1]?.main?.temp_min?.toFixed(0) + "°C" }}
            </div>

            <div class="mt-1 w-[0.313rem] h-[0.438rem] pl-[0.125rem]">
              <img class="arrow_down" src="/assets/img/vector.svg" />
            </div>
          </div>
        </div>
      </div>

      <div
        class="box2 flex flex-col bg-white shadow-[0_8px_24px_rgba(0,0,0,0.3)] rounded-[1rem] items-center justify-center w-[5.938rem] h-[6.313rem]"
      >
        <div class="w-[1.5rem] h-[1.5rem]">
          <img src="http://openweathermap.org/img/wn/10d@2x.png" />
        </div>

        <div class="font-medium text-base text-[#444444] tracking-tighter">
          {{ days_forecast[2] }}
        </div>

        <div class="flex text-[#999999] justify-between text-[0.5rem]">
          <div class="flex">
            <div class="first_daymax">
              {{ newlistForecast[2]?.main?.temp_max?.toFixed(0) + "°C" }}
            </div>

            <div class="mt-1 w-[0.313rem] h-[0.438rem] pl-[0.125rem]">
              <img src="/assets/img/vector.svg" />
            </div>
          </div>

          <div class="flex pl-1">
            <div class="first_daymin">
              {{ newlistForecast[2]?.main?.temp_min?.toFixed(0) + "°C" }}
            </div>

            <div class="mt-1 w-[0.313rem] h-[0.438rem] pl-[0.125rem]">
              <img class="arrow_down" src="/assets/img/vector.svg" />
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
<app-search-panel *ngIf="open" (emitData)="grabData($event)"></app-search-panel>
