<div id="panel2">
  <p id="location">Location</p>

  <div class="d-flex p-4" style="margin-top: 3rem">
    <input
      type="search"
      name="search"
      placeholder="   Search city ..."
      [(ngModel)]="search"
      (ngModelChange)="searching(search)"
    />
  </div>

  <div class="container">
    <ng-container *ngFor="let city of list_cities">
      <div class="row mt-1">
        <button type="button" class="btn btn-light" (click)="sendData(city.cord)">
          <div class="col">
            <div class="d-flex justify-content-between">
              <div class="cities">{{ city.name }}</div>
              <div class="cities_temp">35°C</div>
            </div>
          </div>
        </button>
      </div>
    </ng-container>
  </div>
</div>
