<div id="panel2">
  <p>Location</p>
  <div>search bar</div>

  <div class="container">
    <ng-container *ngFor="let city of list_city">
      <div class="row mt-1">
        <button type="button" class="btn btn-light" (click)="unamed()">
          <div class="col">
            <div class="d-flex justify-content-between">
              <div class="cities">{{ city.name }}</div>
              <div class="cities_temp">35°C</div>
            </div>
          </div>
        </button>
      </div>
    </ng-container>
  </div>
</div>
