<div
  class="panel2 flex flex-col absolute z-30 bg-white w-screen h-[48.813rem] shadow-[0_-16px_40px_rgba(0,0,0,0.2)] rounded-t-3xl top-[1.813rem]"
>
  <p
    class="absolute flex items-center justify-center  w-screen font-medium text-[#999999] text-center text-base h-[4.188rem]"
  >
    <span>Location </span>
  </p>

  <div class="d-flex p-4" style="margin-top: 3rem">
    <input
      class="bg-[#f3f3f3] w-full h-[40px] border-none font-medium text-center text-base"
      type="text"
      name="search"
      placeholder="   Search city ..."
      [(ngModel)]="search"
      (ngModelChange)="searchingCity(search)"
    />
  </div>

  <div class="container">
    <ng-container *ngFor="let city of listCities">
      <div class="row mt-1">
        <button
          class="hover:bg-[#94b8ffec] btn btn-light"
          type="button"
          (click)="sendData(city.cord)"
        >
          <div class="col">
            <div class="d-flex justify-content-between">
              <div
                class="font-['Barlow'] text-base text-[#1d1b1b] pl-[1.3rem] tracking-tighter z-30 text-left"
              >
                {{ city.name }}
              </div>
              <div
                class="font-['Barlow'] text-base text-[#1d1b1b] pr-[1.3rem] tracking-tighter z-30 text-right"
              >
                35°C
              </div>
            </div>
          </div>
        </button>
      </div>
    </ng-container>
  </div>
</div>
