input::placeholder {
    font-family: "Barlow";
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
  
    letter-spacing: -0.05em;
  
    color: #9f9f9f;
  }
  